@{
    ViewData["Title"] = "Registrering vellykket";
}

<h2>@ViewData["Title"]</h2>

<p>Din registrering er fullført. Velkommen til Kartverket!</p>

<p><a asp-controller="Home" asp-action="Index">Gå tilbake til hjemmesiden</a></p>