@using KartverketApplikasjon.Models
@model IEnumerable<MapCorrections>

<h2>Overview of correction</h2>

<div>
    @foreach (var position in Model)
    {
        <p><strong>Breddegrad:</strong>@position.Latitude</p>
        <p><strong>Lengdegrad:</strong>@position.Longitude</p>
        <p><strong>Beskrivelse:</strong>@position.Description</p>
    }

@section Scripts {

    <script>
        var map = L.map('map', {
            center: [0, 0],
            zoom: 2
        });
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        var positions = @Json.Serialize(Model);
        
        positions.forEach(function (position) {
            var marker = L.marker([position.latitude, position.longitude]).addTo(map);
            
            // Show the address in the popup
            var url = 'https://nominatim.openstreetmap.org/reverse?format=json&lat=${position.latitude}&lon=${position.longitude}';
            
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    var address = data.display_name ? data.display_name : "Address not found";
                    marker.bindPopup('${position.description}<br>Address: ${address}').openPopup();
                    })
                    .catch(error => {
                        marker.bindPopup('${position.description}<br>Address: Not available').openPopup();
                    });
        });
    </script>
}