@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image">
    <div class="hero-text">
        <h1>Noe tekst om Kartverket skal her</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vel sem porta porttitor cursus sed eros.</p>
        <a href="#" class="hero-button">Registrer deg</a>
    </div>
</div>

