@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Gruppe 3, let's go!</p>
    <p>Adrian tester push/pull</p>
    <p>Hallo</p>
    <p>Petter tester push/pull</p>
</div>
