@model KartverketApplikasjon.Models.UserData
@{
    Layout = null;
}
<html>
    <head>
        <h1> Thank you for registering.</h1>
        <h2> Data submitted:</h2>
    </head>
    <body>  
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Phone:</strong> @Model.Phone</p>
    <p><strong>Address:</strong> @Model.Address</p>
    </body>
</html>
