@model KartverketApplikasjon.Models.UserData
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
          text-align: center;
        }
    </style>
</head>
<body>
    <h1>Registration Form</h1>
    <form asp-action="RegistrationForm" method="post">
        <div>
            <label asp-for="Name">Your name:</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Email">Your email:</label>
            <input asp-for="Email" />
        </div>
        <div>
            <label asp-for="Phone">Your phone:</label>
            <input asp-for="Phone" />
        </div>
        <div>
            <label asp-for="Address">Your address:</label>
            <input asp-for="Address" />
        </div>
        <button type="submit" class="btn btn-primary">Submit Data</button>
    </form>
</body>
</html>
