@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<html>
    <head>
        <style>
            h1 {
                text-align: center;
            }
        </style>
    </head>
</html>
<body>
    <h1 class="display-4">Registration Form</h1>
</body>
