/* Lys modus - Standard modus */
:root {
    --background-color: white;
    --text-color: black;
    --modal-background: rgba(255, 255, 255, 0.9); /* Lys bakgrunn for modaler */
    --modal-text-color: black; /* Lys tekst */
    --navbar-bg: #f8f9fa; /* Lys navbar */
    --navbar-text-color: black; /* Lys tekst for navbar */
}

/* Mørk modus */
[data-theme="dark"] {
    --background-color: #121212; /* Mørk bakgrunn for hele siden */
    --text-color: #e0e0e0; /* Lys tekst for mørk modus */
    --modal-background: #333; /* Mørk bakgrunn for modaler */
    --modal-text-color: #ffffff; /* Lys tekst for modal i mørk modus */
    --navbar-bg: #343a40; /* Mørk navbar */
    --navbar-text-color: white; /* Lys tekst i navbar */
}

/* Bruk variablene for bakgrunn og tekstfarger */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Modaler */
.custom-modal {
    background-color: rgba(0, 0, 0, 0.5); /* Halv-transparent bakgrunn */
}

.modal-content {
    background-color: var(--modal-background); /* Bakgrunn for modal */
    color: var(--modal-text-color); /* Tekstfarge i modal */
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    position: relative;
    border-radius: 5px;
}

/* Navbar */
.navbar {
    background-color: var(--navbar-bg); /* Bakgrunnsfarge for navbar */
    color: var(--navbar-text-color); /* Tekstfarge i navbar */
}

/* Ekstra stiljusteringer i Dark Mode */
[data-theme="dark"] .navbar {
    background-color: #333; /* Endrer navbar bakgrunnsfarge i mørk modus */
}

/* Eventuelle andre komponenter som skal endre seg i mørk modus */
[data-theme="dark"] button {
    background-color: #444; /* Mørk bakgrunn for knapper */
    color: #fff; /* Lys tekst på knapper */
}

[data-theme="dark"] a {
    color: #dcdcdc; /* Lys tekstfarge på lenker i mørk modus */
}
